.footer {
  padding-bottom: 5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  background-blend-mode: screen;
  background-image: linear-gradient(to bottom, rgb(42, 41, 41), #000000),
    url(../../img/footer/background.jpg);
  background-size: cover;
  background-blend-mode: darken;
}

.footer-seccion1,
.footer-seccion2,
.footer-seccion3 {
  width: 30%;
}

.footer-seccion1 {
  margin-left: 1rem;
}

.footer-titulo {
  padding: 2rem 0;
  font-size: 1.75rem;
  text-transform: uppercase;
  transition: all 0.7s;
}

.footer-titulo:hover {
  transition: all 0.7s;
  color: greenyellow;
  transform: translateY(-0.5rem);
}

.footer_redesSociales-ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 20rem;
  margin-top: 3.5rem;
  height: 2rem;
}

.footer_redesSociales-li {
  width: 5rem;
  text-align: center;
}

.footer_redesSociales-iconoInstagram {
  transition: all 0.7s;
  border-radius: 30%;
  font-size: 1.5rem;
}

.footer_redesSociales-iconoInstagram:hover {
  background: linear-gradient(
    to top right,
    #fcde30,
    #e9712a,
    #d2313b,
    #ae4198,
    #7540a1,
    #5443a8
  );
  transition: all 0.7s;
}

.footer_redesSociales-iconoFacebook {
  transition: all 0.7s;
  font-size: 1.5rem;
}

.footer_redesSociales-iconoFacebook:hover {
  color: rgb(0, 153, 255);
  transition: all 0.7s;
}

.footer_redesSociales-iconoTwitter {
  transition: all 0.7s;
  font-size: 1.5rem;
}

.footer_redesSociales-iconoTwitter:hover {
  color: rgb(0, 153, 255);
  transition: all 0.7s;
}

.footer_contacto-ul {
  list-style: none;
}

.footer_contacto-li {
  margin: 1.5rem 0;
  font-size: 1rem;
  transition: all 0.7s;
}

.footer_contacto-li:hover {
  transition: all 0.7s;
  color: greenyellow;
}

.footer_contacto-icono {
  margin-right: 1rem;
}

.footer_formulario {
  float: left;
  width: 70%;
}

.footer_formulario-label {
}

.footer_formulario-inputEmail {
  width: 100%;
  height: 1.5rem;
  margin: 0.5rem 0;
  transition: all 0.7s;
}

.footer_formulario-textArea {
  width: 100%;
  height: 3rem;
  margin: 0.5rem 0;
  transition: all 0.7s;
}

.footer_formulario-inputEmail:hover,
.footer_formulario-textArea:hover {
  transform: scale(0.98);
  transition: all 0.7s;
}

.footer_formulario-boton {
  background-color: red;
  width: 100%;
  height: 2rem;
  font-size: 1.25rem;
  transition: all 0.7s;
}

.footer_formulario-boton:hover {
  transition: all 0.7s;
  transform: scale(1.02);
}
