.login{
display: inline-block;
transform: translateX(-20%);
text-align: center;
}
.login #username,#password{
border: 0;
background: white;
text-align: center;
border-radius: 24px;
height: 1.4rem;

}
#login_button{
    background: none;
    border-radius: 5px;
    height: 2rem;
    width: 2rem;
    color: white;
    margin-left: 3px;
}

.login_text{
    text-shadow: 0.2em 0.1em 0.2em gray;
    font-size: 1.2vw;

}
@media (max-width: 1250px){
.login{
    display: none;
}
  
}
  