.menu_lateral-visible {
  background-color: rgba(0, 0, 0, 0.596);
  width: 10rem;
  height: 100vh;
  position: absolute;
  transition: all 1s;
  float: left;

}

.menu_lateral-oculto {
  background-color: rgba(0, 0, 0, 0.596);
  width: 10rem;
  height: 100vh;
  position: absolute;
  transition: all 1s;
  float: left;
  margin-left: -15rem;
}

.menu_lateral-ul {
  padding-top: 5rem;
}

.menu_lateral-li {
  list-style: none;
  text-align: center;
  margin: 5rem 0;
  transition: all 0.7s;
}

.menu_lateral-li:hover {
  transform: translateY(-10px);
  transition: all 0.7s;
}

.menu_lateral-a {
  text-decoration: none;
  color: white;
}

.menu_lateral-boton {
  margin-left: 10rem;
}

.menu_lateral-icono {
  width: 100%;
  margin-right: 1rem;
}

/*---Botón hamburguesa---*/

.contenedor_hamburguesa {
  position: absolute;
  margin: 1rem 0;
  margin-left: 10rem; //Cambiar
}

.botonHamburguesa {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 45px;
  outline: none;
}

.botonHamburguesa span {
  border-radius: 5px;
  background: black;
  display: block;
  width: 60%;
  margin: 5px auto;
  height: 4px;
  transition: all ease 0.5s;
}

.botonHamburguesa-abierto:nth-child(1) {
  transform: rotate(45deg) translateY(13px);
}

.botonHamburguesa-abierto:nth-child(2) {
  opacity: 0;
}

.botonHamburguesa-abierto:nth-child(3) {
  transform: rotate(-45deg) translateY(-13px);
}

.botonHamburguesa-cerrado:nth-child(1) {
  transform: rotate(0) translateY(0);
}

.botonHamburguesa-cerrado:nth-child(2) {
  opacity: 1;
}

.botonHamburguesa-cerrado:nth-child(3) {
  transform: rotate(0) translateY(0);
}
