.noticias {
  width: 100%;
  padding-bottom: 5rem;
  background-color: black;
}

.noticias-titulo-contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
}

.noticias-titulo {
  font-weight: 600;
  font-size: 2vw;
  padding: 5rem 0;
  text-align: center;
  text-shadow: 0.2em 0.1em 0.2em gray;
  color: white;
  text-transform: uppercase;
  transition: all 1s;
}

.noticias-titulo:hover {
  transition: all 1s;
  transform: scale(1.1);
}

.img_noticia {
  width: 100%;
  box-shadow: 0 0 20px silver;
}

.noticias_destacadas-contenedor {
  margin: 0 10%;
  margin-top: 5rem;
}

.noticias_destacadas-superior,
.noticias_destacadas-inferior {
  display: flex;
}

.contenedor_noticia {
  width: 100%;
  position: relative;
  margin: 0.5rem 0.5rem;
}

.info_noticias {
  background-color: rgba(0, 0, 0, 0.63);
  width: 100%;
  height: 50%;
  margin-top: 30%;
  position: absolute;
  color: white;
  text-align: center;
  font-size: 1.1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noticias_destacadas {
  width: 80%;
  height: 25rem;
  margin: 0 10%;
  background-color: white;
}
