.seccion_objetivos {
  height: 100vh;
  background-image: url('../../img/Objetivos/earthbackground.jpg');
  background-size: cover;
  background-blend-mode: soft-light;
  text-align: center;
}

.seccion_objetivos-titulo {
  text-transform: uppercase;
  font-size: 5vw;
  background-image: linear-gradient(
    to right bottom,
    rgba(207, 207, 223, 0.863),
    rgba(196, 233, 31, 0.698)
  );
  background-clip: text;
  color: transparent;
  padding: 4rem 0;
  margin-bottom: 5rem;
}

.seccion_objetivos-contenedores {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 1vw;
}

.seccion_objetivos-contenedor {
  &--1 {
    background-image: url('http://127.0.0.1:8080/Objetivos/multitud.jpg');
    background-size: cover;
    width: 15%;
    transition: all 0.7s;
    box-shadow: 0 0 20px silver;

    padding-bottom: 1rem;

    &:hover {
      transform: scale(1.1);
      transition: all 0.7s;
    }
  }

  &--2 {
    background-image: url('http://127.0.0.1:8080/Objetivos/imparcialidad.jpg');
    background-size: cover;
    width: 15%;
    transition: all 0.7s;
    box-shadow: 0 0 20px silver;

    &:hover {
      transform: scale(1.1);
      transition: all 0.7s;
    }
  }
  &--3 {
    background-image: url('http://127.0.0.1:8080/Objetivos/entretenimiento.jpg');
    background-size: cover;
    width: 15%;
    transition: all 0.7s;
    box-shadow: 0 0 20px silver;

    &:hover {
      transform: scale(1.1);
      transition: all 0.7s;
    }
  }
  &--4 {
    background-image: url('http://127.0.0.1:8080/Objetivos/banderas.jpg');
    background-size: cover;
    width: 15%;
    transition: all 0.7s;
    box-shadow: 0 0 20px silver;

    &:hover {
      transform: scale(1.1);
      transition: all 0.7s;
    }
  }
}

.seccion_objetivos-contenedor-titulo {
  margin-top: 3rem;
  margin-bottom: 5rem;
  text-shadow: 0.2em 0.1em 0.2em gray;
  transition: all 0.7s;
}

.seccion_objetivos-contenedor-texto {
  text-shadow: 0.2em 0.1em 0.2em black;
  background-color: lightgray;
  border-radius: 20px;
  margin: 0 2rem;
  transition: all 0.7s;
}

.seccion_objetivos-contenedor-texto:hover,
.seccion_objetivos-contenedor-titulo:hover {
  transform: scale(1.1);
  transition: all 0.7s;
}

.comentarios {
  background-color: black;
}

.comentarios-titulo {
  font-weight: 600;
  font-size: 2vw;
  padding: 5rem 0;
  text-align: center;
  text-shadow: 0.2em 0.1em 0.2em gray;
  color: white;
  text-transform: uppercase;
  transition: all 1s;
}

.comentarios-titulo:hover {
  transition: all 1s;
  transform: scale(1.1);
}

.comentarios-titulo-contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contenedor_comentarios {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.caja_comentario {
  text-align: center;
  width: 28%;
  margin-top: 1rem;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  background-color: lightgray;
  box-shadow: 0 0 20px silver;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    51% 75%,
    25% 100%,
    28% 75%,
    0% 75%
  );
}

.caja_comentario-titulo,
.caja_comentario-contenido,
.caja_comentario-boton {
  margin: 2rem 0;
}

.caja_comentario-titulo {
  text-transform: uppercase;
  transition: all 1s;
}

.caja_comentario-boton {
  padding: 0.25rem 0.25rem;
  border-radius: 20px;
  border: 1px solid gray;
  cursor: pointer;
}

.emptyComentarios {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
}

.emptyComentarios-texto {
  font-weight: 600;
  font-size: 2vw;
  padding: 3rem 0;
  text-align: center;
  text-shadow: 0.2em 0.1em 0.2em gray;
  color: white;
  text-transform: uppercase;
  transition: all 1s;
}

.emptyComentarios-texto:hover {
  transition: all 1s;
  transform: scale(1.1);
}
